#root {
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 auto;
}
ul > li > span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
ul > li > span:hover {
  background: rgba(191, 191, 191, 0.6);
}
#root li {
  list-style: none;
  cursor: pointer;
}
#menu {
  margin: 0;
  padding: 10px;
  position: fixed;
  list-style: none;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#menu.active {
  display: block;
}
#menu li {
  width: 100%;
  padding: 2px;
  color: #808080;
  box-sizing: border-box;
  font-size: 18px;
}
#menu.active > li {
  color: black;
}
#menu.active > li:hover {
  background: rgba(191, 191, 191, 0.6);
}
