$header-font: "Source Sans Pro", sans-serif;
$par-font: "Hind", sans-serif;
$bg-image: url("../img/m-h-day.jpg");
$colors: (
  font-dark: #2c2f3c,
  font-light: #c0c3ce,
  square: #14a0c7,
  button: #699900,
  card-bg: #21232e,
  body-bg: #fff,
  grad-left: #689801,
  grad-right: #2c5ade,
);
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
